.header {
  height: rem(34x);
  margin-bottom: rem(100px);
  background-color: var(--mantine-color-body);
  border-bottom: rem(1px) solid light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-4));
}

.inner {
  height: rem(44px);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.link {
  display: block;
  line-height: 1;
  padding: rem(8px) rem(12px);
  border-radius: var(--mantine-radius-sm);
  text-decoration: none;
  color: light-dark(var(--mantine-color-gray-7), var(--mantine-color-dark-0));
  font-size: var(--mantine-font-size-sm);
  font-weight: 500;

  &:hover {
    background-color: light-dark(var(--mantine-color-gray-0), var(--mantine-color-dark-6));
  }

  [data-mantine-color-scheme] &[data-active] {
    background-color: var(--mantine-color-blue-filled);
    color: var(--mantine-color-white);
  }
}
/* Show the hamburger menu and hide the desktop menu on mobile viewports */
.desktopMenu {
  display: flex;
}

.mobileBurger {
  display: none;
  order: -1; /* Move the hamburger menu to the left */
  margin-right: auto; /* Push the hamburger menu to the right */
}


.mobileMenu {
  display: none;
  flex-direction: column;
  align-items: flex-start; /* Align items to the left */
  padding: 10px; /* Add some padding */
}

/* Show the hamburger menu and hide the desktop menu on mobile viewports */
@media (max-width: 768px) {
  .desktopMenu {
    display: none;
  }

  .mobileBurger {
    display: block;
  }

  .mobileMenu {
    display: block;
  }
}
