@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");




.feature {
  position: relative;
  padding: var(--mantine-spacing-xl);
  border-radius: 10px;
  background-color: var(--mantine-color-pink-light);
  text-align: center;
}

.overlay {
  position: absolute;
  height: 80px;
  width: 140px;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--mantine-color-yellow-light);
  z-index: 1;
  border-radius: 8px;
}

.content {
  position: relative;
  z-index: 2;
  padding: 20px;
}

.icon {
  color: #F23E61;
}

.title {
  color: var(--mantine-color-brown-dark);
  font-family: "Poppins", Greycliff CF, sans-serif; /* Modern & clean */
  font-weight: bold;
}
.head {
  font-family: "Lobster", cursive;
  font-size: 2.5rem;
  letter-spacing: 2px;
  text-transform: none; /* Keeps natural flow */
  color: #555; /* Slightly darker for contrast */

  
   
  }

