.wrapper {
  position: relative;
  box-sizing: border-box;
  background-color: light-dark(var(--mantine-color-white), var(--mantine-color-dark-8));
}
.heroImage {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  height: auto;
}

.contact {
  display: flex;
  justify-content: left;
  align-items: left;
  margin-top: var(--mantine-spacing-xl);
  margin-bottom: 0.25em;

}




.title {
  font-family:

    Greycliff CF,
    var(--mantine-font-family);
  font-size: 82px;
  font-weight: 900;
  line-height: 1.1;
  margin-bottom: 0.25em;
  padding: 0;
  color: light-dark(var(--mantine-color-black), var(--mantine-color-white));

  @media (max-width: 768px) {
    font-size: 42px;
    line-height: 1.2;
  }
}

.description {
  margin-top: var(--mantine-spacing-xl);
  font-size: 24px;

  @media (max-width: 576px) {
    font-size: 18px;
  }
}

.controls {
  margin-top: calc(var(--mantine-spacing-xl) * 2);

  @media (max-width: 576px) {
    margin-top: var(--mantine-spacing-xl);
  }
}
.control:hover {
  transform: scale(1.05); /* Slightly enlarge the button */
  background-color: linear-gradient(to right, #FF6F00, #FF8F00); /* Add a new gradient on hover */
}

.control {
  height: 54px;
  padding-left: 38px;
  padding-right: 38px;

  @media (max-width: 576px) {
    height: 54px;
    padding-left: 18px;
    padding-right: 18px;
    flex: 1;
  }
}




contact-info {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
  text-align: left;
}

.contact-item {
  display: flex;
  align-items: center;
  gap: 6px;
  font-size: 14px; /* Smaller font size */
}

.action-icon {
  outline: none; /* Remove outline */
  transition: transform 0.3s ease, background-color 0.3s ease; /* Smooth transition for transform and background-color */
}

.action-icon:hover {
  transform: scale(1.1); /* Slightly enlarge the icon */
  background-color: linear-gradient(to right, #FF6F00, #FF8F00); /* Add a new gradient on hover */
}